.env-label {
  font-family: monospace;
  font-size: 12px;
  margin-left: 5px;


  // Light mode styles
  color: black;
}

[data-bs-theme="dark"] {
  .env-label {
    // Dark mode styles
    color: #fff;
    text-shadow: #222 0px 0px 5px, #ffaaff 0px 0px 10px, #ffaaff 0px 0px 15px;
  }
}