{% extends "base.html" %}

{% set active_route = "bylaws" %}


{% set title = "Bylaws" %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <p>These are the current bylaws for the RNO.
                <a
                    href="{{ url_for('static', filename='pdfs/bylaws.pdf') }}"
                    target="_blank">Click
                    here to open the PDF in a new tab.</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <object class="w-100" height="600px" data="{{ url_for('static', filename='pdfs/bylaws.pdf') }}"
                    title="Bylaws PDF">
                <p>Your browser does not support the embedded PDF. <a
                    href="{{ url_for('static', filename='pdfs/bylaws.pdf') }}">Click
                    here to download.</a></p>
            </object>
        </div>
    </div>
{% endblock body %}