{% extends "base.html" %}
{% from "finances/finances-tabs.html" import finances_tabs %}

{% block tabs %}
    {{ finances_tabs("ledger") }}
{% endblock tabs %}

{% set active_route = "finances" %}

{% set title = "Ledger" %}

{% block actions %}
    <a href="{{ url_for('finances.create') }}" class="btn btn-sm btn-success">
        <i class="fas fa-plus"></i>
        Create Ledger Item
    </a>
{% endblock actions %}

{% block body %}
    {# filtering #}
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <form action="{{ url_for('finances.ledger') }}">
                        <input type="hidden" name="order_by" value="{{ ledger_data.order_by }}">
                        <input type="hidden" name="order" value="{{ ledger_data.order }}">

                        <div class="row">
                            <div class="col-12 col-lg-3 mb-3 mb-lg-0">
                                <div class="form-group">
                                    <label class="form-label" for="start">Start</label>
                                    <input value="{{ ledger_data.start }}" name="start" type="date"
                                           id="start"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-12 col-lg-3 mb-3 mb-lg-0">
                                <div class="form-group">
                                    <label class="form-label" for="end">End</label>
                                    <input value="{{ ledger_data.end }}" name="end" type="date" id="end"
                                           class="form-control">
                                </div>
                            </div>


                            <div class="col-12 col-lg-3 d-flex">
                                <div class="form-group mt-auto">
                                    <!-- Example split danger button -->
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-outline-secondary">Filter</button>
                                        <button type="button"
                                                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item"
                                                   href="{{ url_for('finances.ledger', download='true', csv='true', order_by=ledger_data.order_by, order=ledger_data.order) }}">Download
                                                CSV</a></li>
                                            <li><a class="dropdown-item"
                                                   target="_blank"
                                                   href="{{ url_for('finances.ledger', download='false', csv='true', order_by=ledger_data.order_by, order=ledger_data.order) }}">Open
                                                CSV in new tab</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {# the data #}
    <div class="row">
        <div class="col">
            <div class="table-responsive-sm">
                <table class="table table-hover" id="ledger">
                    <thead class="sticky-top">
                    <tr>
                        <th class="border-bottom-0" scope="col">
                            <a href="{{ url_for('finances.ledger', order=("asc" if ledger_data.order_by != "id" else ("asc" if ledger_data.order == "desc" else "desc")),
                                order_by="id", start=ledger_data.start, end=ledger_data.end) }}">
                                ID
                                {% if ledger_data.order_by == "id" and ledger_data.order == "asc" %}
                                    &darr;
                                {% elif ledger_data.order_by == "id" and ledger_data.order == "desc" %}
                                    &uarr;
                                {% endif %}
                            </a>

                        </th>
                        <th class="border-bottom-0" scope="col">
                            <a href="{{ url_for('finances.ledger', order=("asc" if ledger_data.order_by != "date" else ("asc" if ledger_data.order == "desc" else "desc")),
                                order_by="date", start=ledger_data.start, end=ledger_data.end) }}">
                                Date
                                {% if ledger_data.order_by == "date" and ledger_data.order == "asc" %}
                                    &darr;

                                {% elif ledger_data.order_by == "date" and ledger_data.order == "desc" %}
                                    &uarr;

                                {% endif %}
                            </a>
                        </th>
                        <th class="border-bottom-0" scope="col">Category</th>
                        <th class="border-bottom-0" scope="col">Description</th>
                        <th class="border-bottom-0" scope="col">Income</th>
                        <th class="border-bottom-0" scope="col">Expense</th>
                        <th class="border-bottom-0" scope="col">Balance</th>
                    </tr>
                    <tr>
                        {#                        todo#}
                        <td colspan="7" class="py-0" style="background: white; height: 2px;"></td>
                    </tr>
                    </thead>

                    <tbody>
                    {% for ledger_item in ledger_data.ledger_items %}
                        <tr>
                            <td>
                                {{ "%03d"|format(ledger_item.ledger_item_id) }}
                            </td>
                            <td>{{ ledger_item.ledger_item_date }}</td>
                            <td>
                                {{ LedgerItemCategoryEnum(ledger_item.category).name|capitalize if ledger_item.category else "" }}
                            </td>
                            <td>
                                {{ ledger_item.description }}
                            </td>
                            <td class="font-monospace">
                                {% if ledger_item.ledger_item_type == LedgerItemTypeEnum.INCOME %}
                                    ${{ "{:,.2f}".format(ledger_item.amount) }}
                                {% endif %}
                            </td>
                            <td class="font-monospace">
                                {% if ledger_item.ledger_item_type == LedgerItemTypeEnum.EXPENSE %}
                                    ({{ "{:,.2f}".format(ledger_item.amount) }})
                                {% endif %}
                            </td>
                            <td class="font-monospace">
                                ${{ "{:,.2f}".format(ledger_item.balance) }}
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>
                    <tfoot>
                    <tr style="border-top: 5px solid white;">
                        <th scope="row" colspan="4">Total</th>
                        <td class="font-monospace fw-bold">
                            {{ "${:,.2f}".format(ledger_data.total_income) }}
                        </td>
                        <td class="font-monospace fw-bold">
                            ({{ "{:,.2f}".format(ledger_data.total_expense) }})
                        </td>
                        <td class="font-monospace fw-bold">
                            {% if ledger_data.ending_balance >= 0 %}
                                ${{ "{:,.2f}".format(ledger_data.ending_balance) }}
                            {% else %}
                                ({{ "{:,.2f}".format(ledger_data.ending_balance) }})
                            {% endif %}
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>

        </div>
    </div>
{% endblock body %}